
@line_color: #70d5dd;

@brand_font: 'Shadows Into Light';
@nav_font: 'Proza Libre';

@title_font: 'Fira Sans';
@title_color: #eaeaea;
@content_font: 'Lato';

@brand_size: 36px;

@discography_buy_bg: #d59113;

@white: #fff;